# Virtual environment
my_vocab_env/

# Python cache
__pycache__/
*.pyc

# Instance folder (contains secrets and temporary files)
instance/

# Local database files
*.db
*.sqlite3

# Environment variables
.env

# Uploads folder
uploads/

# Data files
words_with_new_synonyms.csv
words_with_synonyms.csv
