Flask
werkzeug
click
Jinja2
itsdangerous
blinker
Flask-Login
Flask-WTF
SQLAlchemy
Flask-SQLAlchemy
alembic
Flask-Migrate
gunicorn
psycopg2-binary
whitenoise
pandas
openpyxl
SpeechRecognition
pydub
openai
ffmpeg-python
python-telegram-bot
Flask-Limiter
Flask-Talisman
bleach
Flask-Cors
Flask-SSLify
Flask-Session
redis
cachelib
Flask-Caching
Flask-Assets
webassets
cssmin
jsmin
libsass
watchdog
Babel
Flask-Babel
pytz
speaklater
Flask-Admin
Flask-Security-Too
passlib
argon2-cffi
defusedxml
packaging
ua-parser
user-agents
colorama
itsdangerous
MarkupSafe
Werkzeug
Flask
blinker
certifi
cffi
charset-normalizer
cryptography
idna
pycparser
PyJWT
python-dotenv
requests
six
urllib3
nltk
tqdm
bcrypt
Flask-Bcrypt
Flask-Login
Flask-WTF
WTForms
Email-Validator
SQLAlchemy
Flask-SQLAlchemy
Alembic
Flask-Migrate
greenlet
Mako
SQLAlchemy
typing-extensions
Flask-Mail
gunicorn
psycopg2-binary
whitenoise
pandas
openpyxl
SpeechRecognition
pydub
openai
ffmpeg-python
python-telegram-bot
Flask-Limiter
Flask-Talisman
bleach
Flask-Cors
Flask-SSLify
Flask-Session
redis
cachelib
Flask-Caching
Flask.assets
webassets
cssmin
jsmin
libsass
watchdog
Babel
Flask-Babel
pytz
speaklater
Flask-Admin
Flask-Security-Too
passlib
argon2-cffi
argon2-cffi-bindings
defusedxml
packaging
PyYAML
ua-parser
user-agents